{% extends 'blog/base.html' %}
{% block content %}
    <section class="flex text-gray-700">
        <div class="md:w-2/3">
                <article class="px-5 py-8 md:px-0 md:py-12 border-b-2 border-gray-200">
                    {% for tag in post.tags.all %}
                        <span class="inline-block py-1 px-3 rounded bg-indigo-100 text-indigo-500 text-sm font-medium tracking-widest">
                            {{ tag }}
                        </span>
                    {% endfor %}
                    <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">{{ post.title }}</h2>
                    
                    <div class="pb-6">
                        {{ post.content|linebreaksbr }}
                    </div>
                    
                    <div class="flex items-center flex-wrap mt-auto w-full">
                        <span class="text-gray-600 leading-none text-sm ml-auto pr-3 py-1 border-r-2 border-gray-300">
                            <span>{{ post.date_posted|date:"d F, Y" }}</span>
                        </span>
                        <span class="text-gray-600 mr-3 inline-flex items-center leading-none text-sm py-1 pl-3">
                            <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                <circle cx="12" cy="12" r="3"></circle>
                            </svg>
                            <span>1.2K</span>
                        </span>
                    </div>
                </article>
        </div>
        <div class="md:w-1/3 md:pl-12">
            
        </div>
    </section>
{% endblock content %}
